<%- include('../includes/head.ejs') %>

</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <mai class="centered">
        <h1><%= product.productName %></h1>
        <hr>
        <div>
            <img src="<%= product.imageUrl %>" alt=" <%= product.productName %>">
        </div>
        <h2>$<%= product.productPrice %></h2>
        <p><%= product.productDescription %></p>
        <form action="/cart" method="POST">
            <button class="btn" type="submit"> Add to Cart</button>
        </form>
    </main>

<%- include('../includes/end.ejs') %>