<%- include('../includes/head.ejs') %>

</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main class="centered">
        <h1><%= product.productName %></h1>
        <hr>
        <div>
            <img src="<%= product.imageUrl %>" alt=" <%= product.productName %>">
        </div>
        <h2>$<%= product.productPrice %></h2>
        <p><%= product.productDescription %></p>
            <%- include('../includes/add-to-cart.ejs') %>
    </main>

<%- include('../includes/end.ejs') %>